/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}
/*------HEADER------*/
header {
  display: flex;
  justify-content: space-between;
}
header li a:hover {
  border-top: solid 2px #0065fc;
  padding-top: 10px;
  color: #0065fc;
}
header ul {
  display: flex;
  gap: 20px;
  border-top: #0065fc;
  list-style: none;
  margin-top: 6px;
}
header img {
  display: flex;
  height: 59px;
  width: 189px;
  top: 134px;
  left: 77px;
}
/*----FIN HEADER-----*/
a {
  color: inherit;
  text-decoration: none;
}
.information {
  display: flex;
  align-items: center; /* Alignement vertical */
  margin: 20px 0px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px; /* Taille du cercle */
  height: 24px; /* Taille du cercle */
  border-radius: 50%; /* Pour faire un cercle */
  border: 1px solid #d9d9d9;
  margin-right: 8px; /* Espace entre l'icône et le texte */
}

.icon i {
  color: #0065fc;
  font-size: 14px;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 35px;
  box-sizing: border-box;
}
/********FILTRES************/
.filtres form {
  display: flex;
  font-weight: 700;
  width: 377px;
  height: 49px;
}
i.fa-solid.fa-location-dot {
  display: flex;
  width: 50px;
  height: 49px;
  border-radius: 50% 0 0 50%;
  background-color: #f2f2f2;
  align-items: center;
  justify-content: center;
  color: black;
}
.filtres input {
  border: solid 1px var(--filter-bg-color);
  border-right: 0;
  font-size: 20px;
  text-align: center;
  width: 190px;
}
.search_button {
  display: flex;
  align-items: center;
  color: white;
  background-color: #0065fc;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-right: 5px;
  padding: 10px;
}
.loupe {
  display: none; /* Par défaut caché */
}
/*---Filtres2----*/
.filtre2 {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  gap: 6px;
  align-items: center;
}
.filtre2 h2 {
  font-size: 18px;
}
.filtre2 a {
  display: flex;
  border: solid 2px rgb(190, 188, 188);
  border-radius: 30px;
  align-items: center;
  gap: 15px;
  height: 20px;
  padding: 10px 14px;
  font-size: 16px;
  font-weight: bold;
  min-width: 115px;
}
.filtre2 :hover {
  background-color: #deebff;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}
.hebergements-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10px;
  margin-top: 29px;
}
.hebergements-cards a {
  margin-bottom: 30px;
}
.hebergements-cards img {
  width: 240px;
  height: 124px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
*/ .hebergements-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
  margin-bottom: 50px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  gap: 15px;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/*------ACTIVITEES----------*/
.Activites-cards img {
  display: flex;
  width: 297px;
  height: 439px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.Activites-cards .card {
  padding: 0 0 5px;
}
.Activites-cards a {
  margin-bottom: 30px;
  min-height: 270px;
}
.Activites-cards {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 35px;
}
.Activites-cards .card-title {
  padding-left: 20px;
}
.Activites h2 {
  margin: 20px 0 -10px 20px;
}

/*---------FOOTER-------*/
.footer {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  background-color: var(--main-bg-color);
}

/* Le code ci-dessous correspond à la version responsive uniquement------------ ----------------------*/

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) ---TABLETTES---*/
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }
  .filtre2 a {
    font-size: 0.9rem;
  }

  .hebergements {
    width: 100%;
  }
  .hebergements-cards {
    display: flex;
    flex-wrap: wrap;
  }
  .hebergements-cards .card {
    width: 100%;
  }
  .hebergements-cards img {
    width: 100%;
  }
  .hebergements-cards a {
    width: 30%;
  }
  .hebergements-cards .card-title {
    margin: 5px;
  }
  .hebergements-cards .card-subtitle {
    margin: 0;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
  .Activites-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px; /* Ajouter un espacement entre les cartes */
  }

  .Activites-cards a {
    flex: 1 1 calc(25% - 15px); /* Chaque carte occupe 25% de la largeur moins le gap */
  }

  .Activites-cards img {
    width: 100%;
    height: 250px; /* Fixer une hauteur identique pour toutes les images */
    object-fit: cover; /* Recadre l'image pour qu'elle remplisse le conteneur */
    border-radius: 10px;
  }
  .Activites-cards article.card {
    height: 312px;
  }

  .Activites h2 {
    font-size: 1.6rem; /* Ajuster la taille du titre */
    margin: 10px 15px; /* Réduire les marges */
  }

  .Activites-cards .card-title {
    font-size: 1rem; /* Réduire légèrement la taille des titres */
    margin-top: 10px; /* Ajouter un peu d’espace au-dessus */
  }
}

/* ----------------Small devices (phones, less than 768px)------PHONES---------------- */
@media (max-width: 767.98px) {
  .main-container {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .nav-menu ul {
    width: 100%;
    padding: 0;
    margin: 0;
    gap: 40px;
  }
  .nav-menu {
    width: 375px;
    border-bottom: 2px solid var(--main-bg-color);
    padding-top: 25px;
  }
  .nav-menu li {
    width: 50%;
    text-align: center;
  }

  .nav-menu li :hover {
    border-bottom: 2px solid var(--main-color);
    border-top: none;
  }
  .entete h1 {
    display: flex;
    height: 52px;
    width: 320px;
  }
  .entete p {
    font-size: small;
  }
  .search_button {
    display: none; /* Cacher le bouton texte */
  }
  .loupe {
    display: inline-block;
  }
  .loupe i {
    color: white;
  }

  .filtre2 {
    display: flex;
    flex-wrap: wrap;
  }
  .filtres2 a {
    min-width: 35%;
  }

  .filtre2 {
    display: flex;
    flex-direction: column; /* Colonne pour le titre */
    align-items: center;
  }

  .filtre2 h4 {
    margin-bottom: 20px; /* Espace sous le titre */
  }
  .filtre2 a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
    padding: 10px;
    border: 1px solid #ddd; /* Optionnel : bordures pour la lisibilité */
    border-radius: 15px;
  }
  .filtre2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Deux colonnes */
    gap: 10px; /* Espacement entre les éléments */
  }

  .filtre2 h2 {
    grid-column: span 2; /* Le titre occupe toute la largeur */
  }

  .filtre2 h2 {
    margin-bottom: 20px; /* Espace sous le titre */
  }

  .search_button {
    display: none;
  }
  .loupe {
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: medium;
    border-radius: 0 20px 20px 0;
    background-color: #0065fc;
  }
  i .fa-solid .fa-magnifying-glass {
    display: flex;
    width: 50px;
    height: 49px;
    border-radius: 0 50% 50% 0;
    justify-content: center;
    margin-right: 9px;
    font-size: medium;
    color: white;
  }
  /*----------------------------PHONES HEBERG POPU----------*/
  .hebergements-and-populaires {
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
    background-color: white;
  }
  .populaires {
    background-color: var(--main-bg-color);
  }

  .populaires-cards {
    display: flex;
    flex-direction: column; /* Empile les cartes verticalement */
  }
  .populaires-cards a {
    width: 100%;
  }
  .populaires-cards img {
    border-radius: 15px 0 0 15px;
  }
  .populaires-cards .card-title {
    font-size: 1rem;
    margin: 10px 0; /* Ajoute de l'espace autour du titre */
  }

  .populaires-cards .card-subtitle {
    font-size: 1rem; /* Ajuste la taille pour une lecture facile */
    /*margin-bottom: 10px;  Espacement sous le sous-titre */
  }

  .hebergements-cards a {
    width: 100%;
  }
  .hebergements-cards img {
    width: 100%;
  }
  .Activites-cards {
    display: flex;
    flex-direction: column;
    width: 365px;
  }
  .Activites-cards a {
    max-width: 100%;
    height: auto;
  }
  .footer {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-left: 20px;
  }
}
